{% extends 'base.html.twig' %}

{% block title %}ImageWork index{% endblock %}

{% block body %}
    <h1>ImageWork index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Alt</th>
                <th>Src</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_work in image_works %}
            <tr>
                <td>{{ image_work.id }}</td>
                <td>{{ image_work.alt }}</td>
                <td>{{ image_work.src }}</td>
                <td>
                    <a href="{{ path('image_work_show', {'id': image_work.id}) }}">show</a>
                    <a href="{{ path('image_work_edit', {'id': image_work.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_work_new') }}">Create new</a>
{% endblock %}
