{% extends 'base.html.twig' %}

{% block title %}Work{% endblock %}

{% block body %}
    <h1>Work</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ work.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ work.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ work.description }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ work.startDate ? work.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ work.endDate ? work.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ work.link }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('work_index') }}">back to list</a>

    <a href="{{ path('work_edit', {'id': work.id}) }}">edit</a>

    {{ include('work/_delete_form.html.twig') }}
{% endblock %}
